
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.list
{ display:inline-block;
    color:dodgerblue;
    width:19%;
    height:8%;
    text-align:center;

}
.menu
{ display:inline-block;
    margin-top:10px;
    background-color:rgb(150,150,150);
    width:100%;
    box-shadow:10px 10px 10px green;
    float:right;

}
a
{ color:lightseagreen;
}
.left
{ display:inline-table;
    color:lightseagreen;
}
.pan
{ background-color:lightgrey;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.panel
{ margin-top:50px;}
ul li
{ margin-top:10px;}
#que
{ height:8%;
}
.spc
{ margin-top:30px;
}
.email
{
font-size: smaller;
}